.container {
  font-family:Arial, Helvetica, sans-serif;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 4000px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.scroll {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scroll input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.scroll input:focus {
  border: 1px solid #333;
}
.scroll button {
  width: 100%;
  padding: 16.5px 14px;
  margin: 10px 0;
  border: none;
  border-radius: 15px;
  outline: none;
  color: #ffffff;
}

.scrollHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.scrollHeader input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
button{
    padding: 16.5px 14px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color:black;
    color: #FFFFFF;
    cursor: pointer;
}

.scrollBody {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  width: 100%;
  margin-top: 20px;
  row-gap: 15px;
}
.scrollItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:aqua;
 box-shadow: rgba(214, 3, 73, 0.3) 0px 0px 0px 3px;
}
.scrollItemName {
  width: 7em;
  height: 7em;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.scrollItem:hover {
  background: rgb(0, 255, 179);
  color:black;
}
.scrollItemNameText,
.scrollItemPhone {
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 1px;
}
.scrollItemEmail{
    font-weight: 500;
    text-transform: lowercase;
   
    letter-spacing: 1px;
}
@media (max-width: 768px) {
  .scrollBody {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .scrollBody {
    grid-template-columns: repeat(1, 1fr);
  }
}






